{
    "semi": true,
    "singleQuote": true,
    "useTabs": true,
    "tabWidth": 2,
    "bracketSpacing": true,
    "arrowParens": "avoid",
    "trailingComma": "es5",
    "bracketSameLine": true,
    "proseWrap": "always",
    "printWidth": 90,
    "embeddedLanguageFormatting": "auto"

}